.column {
  display: flex;
  flex-direction: column;
}

.grid_1-1-1-1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (min-width: 768px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .grid_1-1-1-1 {
    margin-left: 20rem;
    margin-right: 20rem;
    gap: 40px;
  }
  .column {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20rem;
    margin-right: 20rem;
  }
  .grid-info {
    display: grid;
    grid-template-columns: 1fr 1fr; /* tekst | billede */
    gap: 40px;
    align-items: start;
  }
}
